.produc-container-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
    text-align: center;
}
.card{
    margin: 50px;
}
.card img{
     width: 200px;
    height: 250px; 

}
 .card button{
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: blueviolet;
    text-align: center;
} 