.nav-container{
    position: sticky;
    z-index:3;
    top:0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.774);

}
.navbar a{
    text-decoration: none;
}
.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: rgb(218, 224, 204);
    margin-top: 4vh;
    cursor: pointer;
}
.navbar-cart{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
    color: antiquewhite;
}
.parrafo-baner{
    color: aliceblue;
    font-size: 20px;
}